# Ignore all files in app/static/
app/static/

# Ignore all files in app/data/
app/data/

# Ignore all .csv, .json, and .db files
*.csv
*.json
*.db

# Ignore fldotcom_dev_env directory
fldotcom_dev_env/

# Ignore Spotify Oauth Tokens
my_spotipy/user_tokens/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore notebooks
*.ipynb

# Ignore List
config.py
scratch.py

# Optional: Ignore virtual environments
venv/
.env/
