/.ipynb_checkpoints
/GenreList.txt
/GenreList.txt:Zone.Identifier
/*.ipynb
/__pycache__
/charts.csv
/charts200.csv
/config.py
/env_fred
/fred.db
/fredlambuth.db
/genres.json
/malaga.ipynb
/my_spotipy.db
/my_streams.csv
/new_stuff.json
/world_streams.csv
/world_top200.csv
/my_spotipy/config.py
/my_spotipy/*.db
/my_spotipy/*.ipynb
/my_spotipy/*.json
/my_spotipy/.cache-lambuth
*.pyc 
__pycache__
*.jpg
*.db
/fredlambuth_env