{% include 'base.html' %}

{% block content %}

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/spotify.css') }}">

{% include 'spotify/genre_cat/genre_header.html' %}

<title>Genres in Fred's Listening History</title>

<style>
    
    h2 {
        text-align: center;
    }
    
    ul {
        padding: 0;
        list-style-type: none;
        width: 100%;
    }
    
    .grid-container {
        width: 100%;
    }
    
    .artist-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;
        margin: 5px 0;
        width: 100%;
    }
    
    .artist-img {
        height: 3em;
        margin-right: 10px;
    }

    .list-group-item:hover {
        background-color: #204b74;
        cursor: pointer;
    }
</style>

<div class="container">
    <h2>
        {{ genre_count }} genres for {{ letter }}
    </h2>

    {% for genero, artists in genre_list.items() %}
    <h2>{{ genero }}</h2>
    <ul>
        <div class=" row mb-3 with-border">
            {% for artist in artists %}

                <div class="col-md-3">
                    <li class="artist-item card-body list-group-item">

                        <a href="https://open.spotify.com/artist/{{ art_id }}" target="_blank" rel="noopener noreferrer" title="Link to hear on Spotify">
                            <img src="https://i.scdn.co/image/{{ artist.img_url_sml }}" alt="{{ artist.art_name }}" class="artist-img">
                        </a>
                        
                        <a href="{{ url_for('spotify.art_cat_profile', art_id=artist.art_id) }}" 
                        title="Link to see listening stats" 
                        style="color: wheat; font-weight: bold;">
                            {{ artist.art_name }}
                        </a>
                    </li>
                </div>
                
            {% endfor %}
        </div>
    </ul>
    {% endfor %}
</div>



{% endblock %}