{% extends 'base.html' %}

{% block content %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/spotify.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/blog.css') }}">

<title>Landing Page for Spotify Stuff</title>

{% include 'spotify/spotify_header.html' %}

<style>
    /* General styles */
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 175px;
    }

    .image-container img {
        width: 100%;
        object-fit: fill;
    }

    .w3-card,
    .w3-row {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        background-color: rgba(255, 255, 255, 0.03);
        padding: 10px;
        border-radius: 5%;
    }

    .w3-card:hover {
        background-color: #1c1f03;
        transition: background-color 0.3s ease;
    }

</style>

<body style="background-color: #000c0a;">

<div class="w3-content" style="max-width:1400px; padding: 50px;">
    <div class="w3-row">

        <div class="w3-col l8 s12">
            <div class="w3-card w3-margin w3-margin-top">
                <div class="image-container">
                <img src="{{url_for('static', filename='img/detroit.jpg')}}" alt="Unknown Detroit Bluesman" title="Robert Crumb cover of Unknown Detroist Bluesman. 1970.">
            </div>
            
            <div class="w3-container w3-teal">
                <h2>Welcome to the Spotify section of the website!</h2>
            </div>
            <p style="text-align: center;">Everyday I collect my listening data from Spotify. This section has views into what I was listening to on what day.</p>
        </div>
            
        <div class="row">
            <a href="{{ url_for('spotify.top_five_artist_plot') }}" title="Scatter Plot of Top 5 Artist History">
            <div class="w3-card w3-margin">
                <h2>Most Played Artists:</h2>
                {% for art in top_5_arts %}
                    <div>{{ art[0] }} <span style="color: aliceblue;">{{ art[1] }}</span></div>
                {% endfor %}
            </div>
            </a>
            
            <a href="{{ url_for('spotify.top_five_tracks_plot') }}" title="Scatter Plot of Top 5 Artist History">
            <div class="w3-card w3-margin">
                <h2>Most Played Tracks:</h2>
                {% for track in top_5_tracks %}
                    <div>{{ track[0] }} <span style="color: aliceblue">{{ track[1] }}</span></div>
                {% endfor %}
            </a>
            </div>
        </div>        
    </div>

    <div class="w3-col l4" style="padding-right: 20px;">
        <div class="w3-card w3-margin w3-margin-top">
            <h2 style="margin-right: 30px;">Average Song Count per Day: <span class="white-pill">{{ daily_rp_avg }}</span></h2>
        </div>
        
        <div>
            <h2>Newest Additions:</h2>
            
            {% for new_artist in latest_artists %}
            <div class="row mb-3" style="background-color: #012b25; border-radius: 12%; border: solid 2px #028874; padding-right: 19px;">
                
                <div class="col-md-10" style="color: wheat; padding-left: 50px;">
                    <a href="https://open.spotify.com/artist/{{ new_artist.art_id }}">
                        <h5>{{ new_artist.art_name }}</h5>
                    </a>
                    <p>
                        {% if new_artist.genre2 %}
                            <a href="{{ url_for('spotify.index_by_genre', master_genre=new_artist.genre) }}">{{ new_artist.genre }}</a>,
                            <a href="{{ url_for('spotify.index_by_genre', master_genre=new_artist.genre2) }}">{{ new_artist.genre2 }}</a>
                        {% else %}
                            <a href="{{ url_for('spotify.index_by_genre', master_genre=new_artist.genre) }}">{{ new_artist.genre }}</a>
                        {% endif %}
                    </p>
                    
                </div>
                <div class="col-md-2 d-flex ml-auto">
                    <img src="https://i.scdn.co/image/{{ new_artist.img_url_sml }}" alt="Tiny Image" class="circular-image">
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>


{% endblock %}
