{% extends 'base.html' %}

{% block content %}

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/blog.css') }}">

<title>Fear and Loathing on The Internet</title>

<body class="w3-black">

    <!-- w3-content defines a container for fixed size centered content, 
    and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">
    
    <!-- Header -->
    {% include 'blog/blog_header.html' %}
    
    <!-- Grid -->
    <div class="w3-row">
    
        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="{{url_for('static', filename='img/sailor.jpg')}}" title="CS2 Peter Grabnickas, a crew member of the USS Capelin, disappeared with the ship in the Celebes Sea near Indonesia on Dec 2, 1943. Photo taken two months before the submarine's last known sighting.">
                <div class="w3-container w3-teal">
                    <p>This is the blog! I talk about books, video games, movies and podcasts of all types. It's not much, but it's honest work.</p>
                </div>
            </div>
            
            <hr>
            
            <!-- Posts -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding w3-teal">
                <h4>Topics</h4>
                </div>
                
                <ul class="w3-ul w3-hoverable w3-white" style="margin-top: 0; margin-bottom: 0;">
                    {% for media_type in mediums_index %}
                    <li class="w3-padding-8" style="display: flex; justify-content: space-between;">
                        <a href="{{url_for('blog.blog_about_this_medium', medium=media_type[0])}}" style="text-decoration: none;">
                            <span class="w3-medium">{{ media_type[0] }}</span>
                        </a>
                        <span>{{ media_type[1] }} posts</span>
                    </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding w3-teal">
                    <h4>Archives</h4>
                </div>
                
                <!-- Month-level archives -->
                <ul class="w3-ul w3-hoverable w3-white" style="margin-top: 0; margin-bottom: 0;">
                    {% for year_month in year_month_index[::-1] %}
                    <li class="w3-padding-8" style="display: flex; justify-content: space-between;">
                        <a href="{{url_for('blog.blog_yearmonth_group', year_month=year_month[0])}}" style="text-decoration: none;">
                            <span class="w3-medium">{{ year_month[0] }}</span>
                        </a>
                        <span>{{ year_month[1] }} posts</span>
                    </li>
                    {% endfor %}
                </ul>
                
                <!-- Year-level archives -->
                <ul class="w3-ul w3-hoverable w3-white" style="margin-top: 0; margin-bottom: 0;">
                    {% for year_count in prev_years_index %}
                    <li class="w3-padding-8" style="display: flex; justify-content: space-between;">
                        <a href="{{ url_for('blog.blog_year_group', year=year_count[0]) }}" style="text-decoration: none;">
                            <span class="w3-medium">{{ year_count[0] }}</span>
                        </a>
                        <span>{{ year_count[1] }} posts</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <hr> 
            
            <!-- END Introduction Menu -->
        </div>
    
        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            {% for post in latest_3_posts %}
            <div class="w3-card-4 w3-margin w3-pale-green ">
                
                <div class="row w3-teal" style="border-bottom: 3px solid palegreen;">
                    <div class="col-left">
                        <a href="{{ url_for( 'blog.blog_single', post_id=post.id) }}">
                        <img src="{{url_for('static', filename='img/blog_pics/pic_' + post.id|string + '.jpg')}}" width="80" title="Rando off the street." class="circular-image">
                        
                    </div>
                    <div class="col-right">
                        <h3 class="outlined-text"><b>{{ post.title }}</b></h3></a>
                        <h5><span class="w3-opacity date-pill">{{ post.post_date }}</span></h5>
                    </div>
                </div>

                <br>

                <div class="w3-container center-text" style="padding: 35px;">
                    <p>{% autoescape false %} {{ post.content | replace('\n', '<br>') | truncate(1500)}} {% endautoescape %}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
            <!-- END BLOG ENTRIES -->
        </div>
    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
</div>
    
    
    </body>

{% endblock %}