{% extends 'base.html' %}

{% block content %}

<title>User Activity</title>

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/blog.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/spotify.css') }}">

<style>
    .outer-row {
    
    border-radius: 2%;
    border: 2px solid #073a33;
    background-image: linear-gradient(to bottom, #045335, #073a33);
}


    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; /* Adjust the margin as needed */
    }

    .white-pill {
        /* Add any styling you want for your white-pill class */
        margin: 0 5px; /* Adjust the margin as needed */
    }
</style>

<div class="container">

    <hr>

    {% for post_id, group in user_comments|groupby('post.id') %}
    <div style="background-color: #296c6e; padding: 10px; margin-bottom: 19px;">
        <div class="row outer-row">
            <a href="{{ url_for('blog.blog_single', post_id=post_id) }}">
            <img src="{{url_for('static', filename='img/blog_pics/pic_' + post_id|string + '.jpg')}}" width="80" title="Link to blog post" class="circular-image"></a>
            <h3 > {{ post_id }} : {{ group[0].post.title }}</h3>
        </div>
            
        {% for comment in group %}                
            <div class="w3-row" style="padding: 10px; margin-bottom: 10px; background-color: #387f88; margin-left: 19px;">
                <p>{{ comment.content }}</p>
                <small>{{ comment.user.username }} - <span class="white-pill">{{ comment.comment_date.strftime('%Y-%m-%d %H:%M') }}</span></small>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


<div class="pagination">
    <span class="step-links">
        {% if user_comments.has_prev %}
        <div class="white-pill">
            <a href="?page=1">Latest << </a>
            <a href="?page={{ user_comments.prev_num }}">< Next</a>
        </div>
        {% endif %}
    
        <div class="white-pill">
            {{ user_comments.page }} of {{ user_comments.pages }}
        </div>
    
        <div class="white-pill">
            {% if user_comments.has_next %}
            <a href="?page={{ user_comments.next_num }}">Prev ></a>
            <a href="?page={{ user_comments.pages }}">>> Oldest</a>
            {% endif %}
        </div>

    </span>
</div>



{% endblock %}