{% extends 'spotify/art_cat/art_cat_base.html' %}

{% block content %}


<style>
    body {
    background-color: #0f1f19;
    color: wheat;
  }

    .container {
        max-width: 900px; /* Set the maximum width of the container */
    }

    .card {
        width: 100%;
        height: 100%;
        border: 2px solid;
        transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
    }

    .card:hover {
        box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5); /* Add inner shadow on hover */
    }

    .card-img-top {
        max-height: 170px; /* Adjust the maximum height of the image */
        object-fit: cover;
    }
</style>

<title>Take A Look Around If You'd Like</title>
<div class="container mt-5 text-center">
    <h3 style="color: wheat;">Fred's Spotify Artists Collection</h3>

    <div class="row">
        
        {% for cell in thruples %}
            <div class="col-md-4 mb-4">
                <div class="card {% if cell.0 in ['rock', 'pop', 'electronic', 'punk', 'funk', 'indie', 'old', 'country'] %}{{ cell.0.lower() }}{% endif %}">
                    <a href="{{ url_for('spotify.index_by_genre', master_genre=cell.0) }}">
                        <img src="https://i.scdn.co/image/{{ cell.2 }}" class="card-img-top" alt="Image">
                    </a>
                    <div class="card-body">
                        <h5 class="white-pill">{{ cell.0 }}</h5>
                        <p class="card-text" style="color: brown;">{{ cell.1 }} artists</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
