{% extends 'spotify/art_cat/art_cat_base.html' %}

{% block content %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/spotify.css') }}">

<style>

</style>

<div class="container text-center">

    {% if art_cat_index is not defined or art_cat_index|length == 0 %}
    <p>The variable is empty or undefined.</p>
    {% else %}
    {% if letter is defined %}
    <p>{{ art_cat_index|length }} artists when indexed by {{ letter }}</p>
    {% elif genre is defined %}
    <p>{{ art_cat_index|length }} artists when indexed by {{ genre }}</p>
    {% endif %}
    {% endif %}

    <div class="row">
        {% for item in art_cat_index %}

        {% include 'spotify/art_cat/art_cat_index_cards.html' %}
        
        {% endfor %}
    </div>
</div>

{% if next_page or prev_page %}
<div class="mt-3 d-flex" style="justify-content: center;">
    {% if prev_page %}
    <span>
        <a class='prev-post btn btn-secondary' href="{{ url_for('spotify.index_by_genre', master_genre=genre, page=prev_page) }}">
            {{ 'Previous' }}
        </a>
    </span>
    {% endif %}
    {% if next_page and prev_page %} || {% endif %}
    {% if next_page %}
    <span>
        <a class='next-post btn btn-secondary' href="{{ url_for('spotify.index_by_genre', master_genre=genre, page=next_page) }}">
            {{ 'Next' }}
        </a>
    </span>
    {% endif %}

</div>
{% endif %}

{% endblock %}